<nav class="nav">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/Register">Registration</a>
    </li>
  </ul>
</nav>
